<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SGC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <userSettings>
    <SGC.Properties.Settings>
      <setting name="ButtonBackground" serializeAs="String">
        <value>#ecf8f4</value>
      </setting>
      <setting name="ButtonBorder" serializeAs="String">
        <value>#00ba93</value>
      </setting>
      <setting name="FontSize_Title" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="FontSize_Text" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="Height" serializeAs="String">
        <value>40</value>
      </setting>
      <setting name="Pdf" serializeAs="String">
        <value>C:\Users\Adex-M\source\repos\SGC25_11_20\SGC25_11_20\SGC\SGC\Invoice.pdf</value>
      </setting>
      <setting name="Height2" serializeAs="String">
        <value>40</value>
      </setting>
      <setting name="Height_box" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="Height3" serializeAs="String">
        <value>40</value>
      </setting>
      <setting name="mapheight" serializeAs="String">
        <value>800</value>
      </setting>
      <setting name="mapwidth" serializeAs="String">
        <value>1250</value>
      </setting>
      <setting name="Botonwidht" serializeAs="String">
        <value>40</value>
      </setting>
      <setting name="Botonheight" serializeAs="String">
        <value>27</value>
      </setting>
      <setting name="Borderwidht" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="Borderheight" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="colorlibre" serializeAs="String">
        <value>#FFFF1493</value>
      </setting>
      <setting name="colorselec" serializeAs="String">
        <value>#FF800080</value>
      </setting>
      <setting name="colorocupado" serializeAs="String">
        <value>#FF8B0000</value>
      </setting>
      <setting name="DireccionFacturas" serializeAs="String">
        <value />
      </setting>
      <setting name="IP" serializeAs="String">
        <value />
      </setting>
      <setting name="modulo" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="sepuede" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="valor" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="sepuede2" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Valor2" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="resultado" serializeAs="String">
        <value>-2</value>
      </setting>
      <setting name="sepuede3" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="valor3" serializeAs="String">
        <value />
      </setting>
      <setting name="posicion" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="UsuariosWidth" serializeAs="String">
        <value>1900</value>
      </setting>
      <setting name="Pdf2" serializeAs="String">
        <value>C:\Users\Adex-M\source\repos\SGC25_11_20\SGC25_11_20\SGC\SGC\Invoice.pdf</value>
      </setting>
      <setting name="Pdf3" serializeAs="String">
        <value>C:\Users\Adex-M\source\repos\SGC25_11_20\SGC25_11_20\SGC\SGC\Invoice.pdf</value>
      </setting>
      <setting name="DireccionFacturas2" serializeAs="String">
        <value />
      </setting>
      <setting name="DireccionFacturas3" serializeAs="String">
        <value />
      </setting>
      <setting name="Mail" serializeAs="String">
        <value />
      </setting>
      <setting name="pssw" serializeAs="String">
        <value />
      </setting>
      <setting name="voff" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="hoff" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Puerto" serializeAs="String">
        <value>587</value>
      </setting>
      <setting name="Host" serializeAs="String">
        <value>smtp.gmail.com</value>
      </setting>
      <setting name="Asunto" serializeAs="String">
        <value />
      </setting>
      <setting name="Cuerpo" serializeAs="String">
        <value />
      </setting>
      <setting name="Manual" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="timer" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="background" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="valorPotencia" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="hex" serializeAs="String">
        <value />
      </setting>
    </SGC.Properties.Settings>
  </userSettings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
</configuration>